Java/.idea/copyright/profiles_settings.xml
Java/.idea/workspace.xml
Python/Learning_Pycharm/.idea/.name
*.iml
Python/Learning_Pycharm/.idea/misc.xml
Python/Learning_Pycharm/.idea/workspace.xml
Python/Learning_Pycharm/.idea/modules.xml
Python/Learning_Pycharm/.idea/vcs.xml